.gitattributes text eol=lf
.gitignore text eol=lf
*.sh text eol=lf
*.patch text eol=lf -whitespace
*.ps1 text eol=lf
S97* text eol=lf
S98* text eol=lf
S99* text eol=lf
helper.sh text eol=lf
.shellcheckrc text eol=lf
*.py text eol=lf
*.md text eol=lf
*.txt text eol=lf
*.json text eol=lf
*.yaml text eol=lf
*.yml text eol=lf
*.tar.gz binary
*.zip binary
*.exe binary
*.pyc binary
*.gcode binary
go2rtc binary
